body {
    background-color: black;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu h2 {
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    color: white;
  }
  
  .menu h2::before {
    content: "+";
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu li.active h2::before {
    content: "-";
    transform: rotate(45deg);
  }
  
  .menu ul ul {
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    background-color: black;
  }
  
  .menu li.active ul {
    display: block;
  }

  .menu p {
    margin: 0;
    color: white;
  }
  
  .menu .price {
    font-weight: bold;
    color: white;
  }
  
  /* Дополнительные стили */
  .search {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  
  .search input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
  }
  
  .search input[type="submit"] {
    background-color: #FF3366;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button {
    background-color: #FF3366;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }