@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

header {
  width: 550px;
  height: 80px;
  background-color: rgb(33, 31, 31);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 40px;
  justify-content: center;
}

header div {

  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 40px;
  gap: 25px;
}

header div p:hover {
  filter: brightness(150%);
  color: blueviolet;
}

header div p {
  transition: filter 0.3s;
}

.btn {
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(69, 69, 91);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  margin-right: 290px;
  justify-content: center;
}

.btn:hover {
  background-color: darkblue;
}

.first-column,
.second-column,
.third-column {
  display: flex;
  flex-direction: column;
}

.first-column img,
.second-column img,
.third-column img {
  height: 500px;
  width: 400px;
  margin-bottom: 15px;
}

.main {
  display: inline-flex;
  gap: 50px;
  margin-left: 40px;

}

.main img {
  transition: filter 0.3s;
}

.main img:hover {
  filter: brightness(150%);
}

.main p:hover {
  filter: brightness(150%);
}

.main-photo img {
  width: 100%;
}

.menu-bar {
  position: relative;
  margin-top: -550px;
  display: inline-flex;
  gap: 200px;
  margin-left: 80px;
}

.menu-bar img {
  margin-top: 20px;
  height: 300px;
  width: 300px;
}

.menu-bar img:hover {
  filter: brightness(150%);
}

.base-of-menu {
  width: 100%;
  height: 300px;
  background-color: rgb(72, 72, 90);
  opacity: 60%;
  border-radius: 3px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
 
  width: 100%;
  height: 100%;
}

.photo-promo img {
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
}